/* You can add global styles to this file, and also import other style files */
body
{
    margin:0;
    background:grey;
    font-family:"open sans";
    height:100%;
}
body,html
{
    height: 100%;
}
#content
{
    padding: 30px 50px;
}
.wrapper
{
    height: 100%;
    background-color: rgb(43, 43, 43);
    padding:0em;
    margin:0;
    display:flex;
    flex-direction: column;
    
}
.icons
{
    border-radius: 8px;
    padding:20px;
    display: inline-block;
}
a:link
{
    font-size:1.5em;
    text-decoration: none;
    color:white;
    transition: all 0.2s ease-out;
}
a:hover
{
    opacity: .7;
}
a:active
{
    color:white;

}
a:visited
{
    color:white;

}
.wrapper{
    list-style-type: none;
    padding: 0;
    margin:0;
}
